body
{
	background-color: white; 
	font-family: Verdana;
	font-size: 20px;
	color: white;
}

h1
{
	font-size: 48px;
	color: green !important;
}

/* Nieodwiedzony link */
a:link
{
	color: blue;
}

/* Odwiedzony link */
a:visited
{
	color:purple;
}

/* Link po najechaniu kursorem */
a:hover
{
	color: red;
}
